{
    "tabWidth": 2,
    "printWidth": 110,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "semi": true,
    "trailingComma": "none",
    "arrowParens": "always",
    "singleAttributePerLine": false
}